*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

body{
  background: lightgray;
  font-family: Arial, helvetica;
}

.d1 {
  list-style: none;
  padding: 0;
  background: lightgreen;
}

.d1 li{
  display: inline-block;
  text-align: center;
}

.d1 li a{
  text-decoration:none;
  color: black;
  padding: 10px;
  display:inline-block;
}

.d1 li a:hover{
  background: #35C425;
}
.menu-fixed{
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 95%;
  max-width: 1000px;
  box-shadow: 0px 2px 2px black;
}

header{
  background: white;
  height: 192px;
  width: 100%;
  margin: 0px;
  text-align: center;
  /*line-height: 192px; center-center*/
}

header h1{
  color: black;
  transition: all 0.5s ease;
  font-size: 20px;
}

header nav{
  background: #3498db;
  margin-bottom: 10px;
}

header nav ul {
  list-style: none;
  overflow: hidden;
}

header nav ul li{
  float: left;
}

header nav ul li a{
  display: block;
  padding: 50px;
  text-decoration:none;
}

nav{
  opacity:inherit;
  height: 50px;
  box-shadow: 0px 2px 2px black;
  margin-bottom: 2px;
}

nav ul li {
  float:left;
  list-style: none;
  margin: 0px;
  line-height: 30px;
}

body.sticky-header{
  padding-top:0px;
}

body.sticky-header header{
  height: 10px;
  background: lightgreen;
}

body.sticky-header header img{
  transform: scale(0, 0);
}/*->efecto para del body texto
body.sticky-header header h1{
  transform: scale(0, 0);
}*/
#container{
  width: 95%;
  max-width: 1000px;
  margin:auto;
}

.article{
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;

}

.article h2{
  font-size: 20px;
  text-align: center;
}

.article p{
  text-align: justify;
  font-size: 12;
  margin: 20px;
}
.clearfix{
  clear:both;
}

#content{
  float: left;
  width: 80%;
  min-height: 500px;
  background: white;
}

aside{
  float: left;
  width: 20%;
  background: lightgray;
  min-height: 500px;
}

footer{
  font-family:sans-serif;
  text-align: center;
  height: 20px;
  line-height: 40px;
}
